.contact  {
  font-family: sans-serif;
}
.contact h2 {
  margin-left: 150px;
  font-size: 50px;
}
.contact-content{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.contact p {
  color: #555;
  max-width: 250px;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.contact-form button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.contact-form button:hover {
  background-color: #155ab6;
}
