.services {
  font-family: sans-serif;
}

.services h2 {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  height: 200px;
  width: 250px;
  padding: 25px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  color: #136af5;
}
.icon-title{
  
  display: flex;
  gap: 20px;
}
