.main {
  font-family: sans-serif;
  background-color: #136af5;
  color: white;
  padding: 100px 20px;
}

.main h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.main p {
  font-size: 20px;
  max-width: 470px;
  margin: 0 auto;
}

.btn-main {
  display: block;
  margin: 20px 370px 0;
  background-color: white;
  color: #327ffb;
  border: none;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-main:hover {
  background-color: whitesmoke;
}
